{% extends "base.html" %}

{% block content %}
<h1>Авторизация</h1>
<div><img scr="/static/"></div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_astr.label }}<br>
        {{ form.id_astr(class="form-control") }}<br>
        {% for error in form.id_astr.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}
